*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: right;
}
h2{
    height: 300px;
    width: 300px;
    border: 1px solid black;
}